<html>
  	<head>
    	<title>Page Not Found</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="apple-touch-icon" href="/static/images/favicon.ico">
	</head>
	<body class="center_horizontally center_vertically">
		<div style="text-align:center;">
			<img class="large_symbol" src="/static/images/exclamationmark.triangle.png">
			<h1>Page Not Found</h1>
			<br>
			Create your own feedback page <a href="/create">here</a>
		</div>
	</body>
</html>