<html>
  	<head>
    	<title>Send {{subject.title}} Feedback</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="apple-touch-icon" href="/static/images/favicon.ico">
	</head>
	<body class="center">
		<div>
			<div style="text-align:center;">
				{% if subject.photo_url %}
				<img class="shadow" src="{{subject.photo_url}}" width="130px" height="130px" style="border-radius:50%; margin:10px;">
				{% endif %}
				<h1>{{subject.title}}</h1>
			</div><br>
			<p style="text-align:justify; max-width:400px;">{{subject.description}}</p>

			{% if subject.live %}
			<form action="/send/{{subject.public_id}}" method="POST">
				<textarea class="container" id="feedback" name="feedback" autofocus=true placeholder="Feedback" required oninvalid="setCustomValidity('Please enter your feedback')" oninput="setCustomValidity('')"></textarea><br>
				<input type="submit">
			</form>
			{% else %}
			<h2 style="text-align:center;">Responses Closed</h2>
			{% endif %}
		</div>
	</body>
</html>