<html>
  	<head>
    	<title>Feedback Submitted</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="apple-touch-icon" href="/static/images/favicon.ico">
	</head>
	<body class="center">
		<div style="text-align:center;">
			<img class="large-symbol" src="/static/images/checkmark.circle.png">
			<h2 style="margin-bottom:10px;">Feedback Submitted</h2>
			Thanks for your feedback! Feel free to submit more <a href="/send/{{public_id}}">here</a>
			<br><br><br>
			Start your own feedback page <a href="/new">here</a>
		</div>
	</body>
</html>