<html>
  	<head>
    	<title>Get Feedback</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="apple-touch-icon" href="/static/images/favicon.ico">
        <meta name="viewport" content="width=device-width">
		<style>
			.logo {
				width: 80px;
				height: 80px;
				border-radius: 50%;
			}
		</style>
	</head>
	<body class="center_vertically center_horizontally">
        <div style="max-width:400px;">
            <p style="height:0; overflow:hidden;">--------------------------------------------------------------------------------------</p>

            <div style="text-align:center;">
                <img class="logo shadow" src="/static/images/logo.png">
                <h1>Get Feedback</h1>
                <p>The easiest way to get anonymous feedback</p>
            </div><br>
    
            <h2 style="padding-left:0px; padding-bottom:5px;">How it works</h2>
            <ol>
                <li>Create a feedback page</li>
                <li>Save your private feedback summary page link</li>
                <li>Share your feedback page link</li>
                <li>Receieve feedback</li>
                <li>Browse your feedback on your private feedback summary page</li>
            </ol>

            <a class="large_button" href="/create">Create a Feedback Page</a>
        </div>
	</body>
</html>