<html>
  	<head>
    	<title>Send {{subject.title}} Feedback</title>
        <link rel="stylesheet" href="/static/style.css">
	</head>
	<body class="center">
		<div style="max-width:400px;">
			<div style="text-align:center;">
				<img src="{{subject.photo_url}}" width="150px" height="150px" style="border-radius:50%;">
				<h1>{{subject.title}}</h1>
			</div><br>
			<p style="text-align:justify;">{{subject.description}}</p>
			<form action="/send/submit/{{subject.public_id}}" method="POST">
				<textarea class="container" id="feedback" name="feedback" autofocus=true placeholder="Feedback" required oninvalid="setCustomValidity('Please enter your feedback')" oninput="setCustomValidity('')"></textarea><br>
				<input type="submit">
			</form>
		</div>
	</body>
</html>