<html>
  	<head>
    	<title>Feedback Page Deleted</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="apple-touch-icon" href="/static/images/favicon.ico">
	</head>
	<body class="center_horizontally center_vertically">
		<div style="text-align:center;">
			<img class="large_symbol" src="/static/images/checkmark.circle.png">
			<h1>Feedback Page Deleted</h1>
			People can no longer submit feedback here.
			<br><br><br>
			Create another feedback page <a href="/create">here</a>
		</div>
	</body>
</html>