<html>
  	<head>
    	<title>View {{subject.title}} Feedback</title>
        <link rel="stylesheet" href="/static/style.css">
		<style>
			.logo {
				width: 100px;
				height: 100px;
				margin-right: 20px;
				border-radius: 50%;
				float: left;
			}
		</style>
	</head>
	<body>
		<div style="width:800px;">
			<img class="logo" src="{{subject.photo_url}}">
			<div style="height:100px; display:flex; align-items:center;">
				<div>
					<h1 style="margin-top:0px;">{{subject.title}}</h1>
					<p>{{subject.description}}</p>
				</div>
			</div>
			<br>

			<button class="label" onclick="copyFeedbackLink()">
				<img id="copy_button_img" class="symbol" src="/static/copy.png" >
				<p id="copy_button_label" class="label-title">Copy Link</p>
			</button>
			<button class="label" onclick="editSubject()">
				<img class="symbol" src="/static/pencil.png">
				<p class="label-title">Edit Details</p>
			</button>
			<button class="label container-background" onclick="editSubject()">
				<img class="icon" src="/static/trash.png">
				<p class="label-title-destructive">Close Page</p>
			</button>

			<br><br>
			<h2>Feedback</h2>
			{% if feedbacks %}
				{% for feedback in feedbacks %}
					<div class="container" style="vertical-align:top;">
						{{feedback.feedback}}
						<a style="float:right;" href="/delete_feedback/{{feedback.feedback_id}}/{{subject.private_id}}">
							<img class="icon" src="/static/trash.png">
						</a>
						<p style="float:right; color:var(--secondary); display:inline; padding-right:10px;">Tuesday</p>
					</div>
				{% endfor %}
			{% else %}
				No feedback yet
			{% endif %}
		</div>
	</body>
	<script>
		function copyFeedbackLink() {
			let image = document.getElementById('copy_button_img')
			let label = document.getElementById('copy_button_label')

			navigator.clipboard.writeText(window.location.origin + '/send/{{subject.public_id}}')
			image.src = '/static/success.png'
			label.innerHTML = 'Link Copied'
		}
	</script>
</html>