<html>
  	<head>
    	<title>Feedback Page Deleted</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="apple-touch-icon" href="/static/images/favicon.ico">
	</head>
	<body class="center">
		<div style="text-align:center;">
			<img class="large-symbol" src="/static/images/checkmark.circle.png">
			<h2 style="margin-bottom:10px;">Feedback Page Deleted</h2>
			People can no longer submit feedback here
			<br><br><br>
			Start another feedback page <a href="/new">here</a>
		</div>
	</body>
</html>