<html>
  	<head>
    	<title>{{subject.title}} Feedback Summary</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="apple-touch-icon" href="/static/images/favicon.ico">
        <meta name="viewport" content="width=device-width">
		<style>
			.logo {
				width: 80px;
				height: 80px;
				margin-right: 20px;
				border-radius: 50%;
				float: left;
			}
		</style>
	</head>
	<body class="center_horizontally">
		<div style="max-width:800px;">
			<div style="display:flex; align-items:center; margin-bottom:10px;">
				{% if subject.photo_url %}
				<img class="logo shadow" src="{{subject.photo_url}}">
				{% endif %}
				<h1>{{subject.title}}</h1>
			</div>
			
			<h2>Manage Feedback Page</h2>
			<div style="font-size:0;">
				<a class="label" target="_blank" href="/send/{{subject.public_id}}">
					<img class="symbol" src="/static/images/square.and.arrow.up.right.png" >
					<p class="label_title">View Feedback Page</p>
				</a>
				<a class="label" target="_blank" href="https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl={{url_for('feedback_send', public_id=subject.public_id, _external=True)}}">
					<img class="symbol" src="/static/images/qrcode.png" >
					<p class="label_title">View Feedback QR Code</p>
				</a>
				<a class="label" href="/{{subject.private_id}}/toggle_live">
					{% if subject.live %}
					<img class="symbol" src="/static/images/pause.fill.png">
					<p class="label_title">Disable Feedback Page</p>
					{% else %}
					<img class="symbol" src="/static/images/play.fill.png">
					<p class="label_title">Enable Feedback Page</p>
					{% endif %}
				</a>
				<button class="label" id="copy_button" onclick="copy_feedback_link()">
					<img id="copy_button_image" class="symbol" src="/static/images/doc.on.doc.png">
					<p id="copy_button_label" class="label_title">Copy Feedback Link</p>
				</button>
			</div>

			{% if feedbacks %}
				<div>
					<h2 style="display:inline-block;">Feedback</h2>
					<h2 style="float:right; color:var(--secondary); font-weight:normal;">{{feedbacks|count}}</h2>
				</div>
				{% for feedback in feedbacks %}
					<div class="container">
						<div style="float:right; margin-left:10px;">
							<p style="color:var(--secondary); padding-right:5px; display:inline-block; line-height:20px; vertical-align:top;">{{feedback.get_formatted_timestamp()}}</p>
							<a href="/{{subject.private_id}}/feedback/{{feedback.feedback_id}}/delete">
								<img class="icon" src="/static/images/trash.png">
							</a>
						</div>
						{{feedback.feedback}}
					</div>
				{% endfor %}
			{% else %}
				<h2>No Feedback Yet</h2>
			{% endif %}
		</div>
	</body>
	<script>
		function copy_feedback_link() {
			let copy_button = document.getElementById('copy_button')
			let copy_button_img = document.getElementById('copy_button_image')
			let copy_button_label = document.getElementById('copy_button_label')

			navigator.clipboard.writeText('{{url_for("feedback_send", public_id=subject.public_id, _external=True)}}')
			copy_button.style.opacity = 0.75
			copy_button_img.src = '/static/images/checkmark.circle.fill.png'
			copy_button_label.innerHTML = 'Link Copied'
		}

		function confirm_delete_subject() {
			let result = confirm("Are you sure you want to delete this feedback page? All existing feedback will be deleted and people will no longer be able to submit feedback. This action cannot be undone.")
			if (result) {
				location.href = '/{{subject.private_id}}/delete'
			}
		}
	</script>
</html>