html {
	font-family: system-ui;
	--accent: #007AFF;
	--red: #FF3B30;
	--secondary: #8A8A8E;
}

ol, ul, p, h1, h2, form, textarea, a, button, body {
	margin: 0px;
	padding: 0px;
}

img {
	object-fit: cover;
}

body {
	margin: 20px;
	margin-bottom: 50px;
}

ol {
	counter-reset: item;
	padding-left: 40px;
}

li {
	display: block;
	counter-increment: item;
	position: relative;
	height: 45px;
	display: flex;
	align-items: center;
}

li::before {
	display: inline-block;
	text-align: center;
	content: counter(item);
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-weight: 500;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	position: absolute;
	left: -40px;
}

a, button {
	display: inline-block;
	color: var(--accent);
	text-decoration: none;
	font-weight: 500;
	font-size: 1rem;
}

input[type=submit], textarea, a, button {
	border: none;
	background: none;
	font-size: 1rem;
}

textarea {
	display: block;
	resize: none;
	width: 100%;
}

h1 {
	padding: 10px 0px;
}

h2 {
	padding: 10px 12px;
}

.center_horizontally {
	display: flex;
	justify-content: center;
}

.center_vertically {
	align-items: center;
}

.container, .label, .container_background, .large_button {
	border-radius: 10px;
}

.large_button {
	color: white;
	background-color: var(--accent);
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 12px;
	margin-top: 20px;
}

.container {
	padding: 12px;
	padding-top: 10px;
}

.icon, .symbol {
	width: 20px;
	height: 20px;
}

.symbol {
	filter: invert(1);
}

.large_symbol {
	width: 40px;
	height: 40px;
}

.label {
	color: white;
	background-color: var(--accent);
	padding-top: 8px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.label_title, .label_title_destructive {
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
	margin-left: 3px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.label_title_destructive {
	color: var(--red);
}

button:active:enabled, a:active, label[for]:active {
	opacity: 0.75;
}

.feedback_form_logo, input[type=file] {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

input[type=file] {
	position: absolute;
	opacity: 0;
}

.feedback_form_textarea {
	height: 120px;
	width: 100%;
}

@media(prefers-color-scheme: light) {
	body, .container, .container_background, textarea {
		color: black;
	}

	body, .background {
		background-color: white;
	}

	.container, .container_background {
		background-color: #f0f0f0;
	}

	.shadow {
		box-shadow: 0px 5px 10px lightgray;
	}
}

@media(prefers-color-scheme: dark) {
	body, .container, .container_background, textarea {
		color: white;
	}

	body, .background {
		background-color: black;
	}

	.container, .container_background {
		background-color: #202020;
	}
	
	.large_symbol {
		filter: invert(1);
	}

	.shadow {
		box-shadow: 0px 5px 10px dimgray;
	}
}