<!DOCTYPE html>
<html>
  	<head>
    	<title>Create a Feedback Page</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.png">
		<link rel="apple-touch-icon" href="/static/images/favicon.png">
        <meta name="viewport" content="width=device-width">
		<script src="/static/script.js" defer></script>
	</head>
	<body class="center_horizontally center_vertically">
		<div style="max-width:400px;">
			<p style="height:0; overflow:hidden;">--------------------------------------------------------------------------------------</p>

			<h1 style="text-align:center; padding-bottom:20px;">Create a Feedback Page</h1>
			<form action="/{{private_id}}" method="POST" enctype="multipart/form-data">
				<div class="shadow_container" style="padding:20px; border-radius:30px;">
					<div style="text-align:center;">
						<label for="logo">
							<input type="file" id="logo" name="logo" accept="image/*" required oninvalid="setCustomValidity('Please select a page logo')" oninput="setCustomValidity('')">
							<img class="large_logo shadow" id="logo_preview" src="/static/images/logo_placeholder.png">
						</label>
					</div>
					<textarea class="title_textarea" rows="1" id="title" name="title" placeholder="Title" required oninvalid="setCustomValidity('Please enter a page title')" oninput="setCustomValidity('')"></textarea>
					<textarea class="description_textarea" rows="1" id="description" name="description" placeholder="What would you like feedback on?" required oninvalid="setCustomValidity('Please enter what you would like feedback on')" oninput="setCustomValidity('')"></textarea>
					<textarea class="secondary_container container_padding" rows="5" placeholder="Enter your feedback" disabled></textarea>
	
					<button class="large_button" style="background-color:var(--secondary);" disabled>Submit Feedback</button>
				</div>
				<button class="large_button" style="margin-top:30px;">Create Feedback Page</button>
			</form>
		</div>
	</body>
	<script>
		let logo = document.getElementById('logo')
		let logo_preview = document.getElementById('logo_preview')
		let title = document.getElementById('title')
		let description = document.getElementById('description')

		logo.addEventListener('input', update_logo)
		title.addEventListener('input', update_height)
		description.addEventListener('input', update_height)

		function update_logo() {
			logo_preview.src = URL.createObjectURL(logo.files[0])
		}

		function update_height() {
			this.style.height = 'auto'
            this.style.height = this.scrollHeight + 'px'
		}
	</script>
</html>