<html>
  	<head>
    	<title>Create Feedback Page</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.ico">
		<link rel="apple-touch-icon" href="/static/images/favicon.ico">
        <meta name="viewport" content="width=device-width">
		<style>
			#title {
				text-align: center;
				font-size: 2rem;
				font-weight: bolder;
				outline: none;
				width: 100%;
				padding: 10px 0px;
			}

			#title:focus::placeholder {
				color: transparent;
			}

			#description {
				text-align: justify;
				padding: 10px;
				padding-left: 12px;
				width: calc(100% - 20px);
				outline: none;
			}
		</style>
	</head>
	<body class="center_vertically center_horizontally">
		<div style="max-width:400px;">
			<p style="height:0; overflow:hidden;">--------------------------------------------------------------------------------------</p>

			<h1 style="text-align:center; padding-bottom:20px;">Create a Feedback Page</h1>
			<form action="/create" method="POST" enctype="multipart/form-data">
				<div class="background shadow" style="padding:20px; border-radius:30px;">
					<div style="text-align:center;">
						<label for="logo">
							<input type="file" id="logo" name="logo" accept="image/*" required oninvalid="setCustomValidity('Please select a page logo')" oninput="setCustomValidity('')">
							<img class="feedback_form_logo shadow" id="logo_preview" src="/static/images/logo_placeholder.png">
						</label>
					</div>
					<textarea rows="1" id="title" name="title" placeholder="Title" required oninvalid="setCustomValidity('Please enter a page title')" oninput="setCustomValidity('')"></textarea>
					<textarea rows="1" id="description" name="description" placeholder="What would you like feedback on?" required oninvalid="setCustomValidity('Please describe what you would like feedback on')" oninput="setCustomValidity('')"></textarea>
					<textarea class="feedback_form_textarea container" placeholder="Enter your feedback" disabled></textarea>
	
					<button class="large_button" style="background-color:var(--secondary);" disabled>Submit Feedback</button>
				</div>
				<button class="large_button" style="margin-top:25px;">Create Feedback Page</button>
			</form>
		</div>
	</body>
	<script>
		let logo = document.getElementById('logo')
		let logo_preview = document.getElementById('logo_preview')
		let title = document.getElementById('title')
		let description = document.getElementById('description')

		logo.addEventListener('input', update_logo)
		title.addEventListener('input', update_height)
		description.addEventListener('input', update_height)

		function update_logo() {
			logo_preview.src = URL.createObjectURL(logo.files[0])
		}

		function update_height() {
			this.style.height = 'auto'
            this.style.height = this.scrollHeight + 'px'
		}
	</script>
</html>