<!DOCTYPE html>
<html>
  	<head>
    	<title>Get Feedback</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.png">
		<link rel="apple-touch-icon" href="/static/images/favicon.png">
        <meta name="viewport" content="width=device-width">
	</head>
	<body class="center_horizontally center_vertically">
        <div style="max-width:400px;">
            <div style="margin: 0px 20px; text-align:center;">
                <img class="small_logo shadow" src="/static/images/logo.png">
                <h1>Get Feedback</h1>
                <p>The easiest way to get anonymous feedback</p>
            </div>
    
            <h2 style="padding:0px; margin-top:30px;">How it works</h2>
            <ol>
                <li>Create a feedback page</li>
                <li>Share the feedback page link</li>
                <li>View the feedback</li>
            </ol>

            <a class="large_button" href="/create">Create a Feedback Page</a>
        </div>
	</body>
</html>