<html>
  	<head>
    	<title>Feedback Page Created</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.png">
		<link rel="apple-touch-icon" href="/static/images/favicon.png">
        <meta name="viewport" content="width=device-width">
	</head>
	<body class="center_horizontally center_vertically">
		<div class="background shadow" style="max-width:400px; border-radius:30px; padding:20px; text-align:center;">
			<img class="large_symbol" src="/static/symbols/checkmark.circle.png">
			<h1>Feedback Page Created</h1>
            <div style="text-align:justify; padding-top:10px;">
                <p>
                    We have also created this page, your private feedback summary page. This is where you can view your feedback and manage your feedback page.
                    <br><br>
                    Please now bookmark this page using your browser so you can return to it in future.
                </p>
                <a class="large_button" href="/{{private_id}}">Dismiss</a>
            </div>
		</div>
	</body>
</html>