<!DOCTYPE html>
<html>
  	<head>
    	<title>View {{subject.title}} Feedback</title>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/images/favicon.png">
		<link rel="apple-touch-icon" href="/static/images/favicon.png">
        <meta name="viewport" content="width=device-width">
		<script src="/static/script.js" defer></script>
	</head>
	<body class="center_horizontally">
		<div style="max-width:800px; min-width:0px;">
			<p style="height:0; overflow:hidden;">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

			{% if subject.photo_url %}
			<img style="float:left;" class="small_logo shadow" src="{{subject.photo_url}}">
			{% endif %}

			<div style="min-height:90px; padding-left:20px; display:flex; flex-wrap:wrap; justify-content:space-between; align-items:center; gap:10px;">
				<h1 id="title" style="display:inline-block; padding:0px;">{{subject.title}}</h1>
				<a class="label" target="_blank" href="/send/{{subject.public_id}}">
					<img class="label_icon" src="/static/symbols/square.and.arrow.up.right.png" >
					<p class="label_title">View Feedback Page</p>
				</a>
			</div>

			<div style="display:flex; flex-wrap:wrap; justify-content:space-between; gap:10px; margin-top:10px;">
				<div style="font-size:0; display:inline-block;">
					<h2 style="font-size:1.5rem;">Share Feedback Page</h2>
					<div style="display:flex; flex-wrap:wrap; gap:10px;">
						<button class="label" id="share_button" onclick="share_feedback_link()">
							<img class="label_icon" src="/static/symbols/square.and.arrow.up.png">
							<p class="label_title">Share Link</p>
						</button>
						<button class="label" id="copy_button" onclick="copy_feedback_link()">
							<img id="copy_button_image" class="label_icon" src="/static/symbols/doc.on.doc.png">
							<p id="copy_button_label" class="label_title">Copy Link</p>
						</button>
						<a class="label" target="_blank" href="https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl={{url_for('send_feedback', public_id=subject.public_id, _external=True)}}">
							<img class="label_icon" src="/static/symbols/qrcode.png" >
							<p class="label_title">Download QR Code</p>
						</a>
					</div>
				</div>
				
				<div style="font-size:0; display:inline-block;">
					<h2 style="font-size:1.5rem;">Manage Feedback Page</h2>
					<div style="display:flex; flex-wrap:wrap; gap:10px;">
						<button class="label" onclick="location.href = '/{{subject.private_id}}/toggle_live'">
							{% if subject.live %}
							<img class="label_icon" src="/static/symbols/pause.fill.png">
							<p class="label_title">Disable Page</p>
							{% else %}
							<img class="label_icon" src="/static/symbols/play.fill.png">
							<p class="label_title">Enable Page</p>
							{% endif %}
						</button>
						<button class="label container" onclick="confirm_delete_subject()">
							<img class="label_icon_destructive" src="/static/symbols/trash.png">
							<p class="label_title_destructive">Delete Page</p>
						</button>
					</div>
				</div>
			</div>

			<form style="margin-top:20px;" action="/{{subject.private_id}}/description" method="POST">
				<div style="display:flex; align-items:center;">
					<h2 style="display:inline-block;">Feedback Prompt</h2>
					<div style="margin-left:auto;">
						<button type="button" class="label" id="edit_button" onclick="edit_description()">
							<img id="edit_button_image" class="label_icon" src="/static/symbols/pencil.png">
							<p id="edit_button_label" class="label_title">Edit</p>
						</button>
						<button class="label" id="save_button">
							<img id="edit_button_image" class="label_icon" src="/static/symbols/checkmark.circle.png">
							<p id="edit_button_label" class="label_title">Save</p>
						</button>
					</div>
				</div>
				<p id="description_old" class="container container_padding" style="text-align:left;">{{subject.description}}</p>
				<textarea class="container container_padding" style="text-align:left; color:var(--accent);" rows="1" id="description" name="description" placeholder="What would you like feedback on?" required oninvalid="setCustomValidity('Please enter what you would like feedback on')" oninput="setCustomValidity('')">{{subject.description}}</textarea>
			</form>

			<div style="margin-top:10px;">
				<h2 style="display:inline-block;">Feedback</h2>
				<h2 style="float:right; color:var(--secondary); font-weight:normal;">{{feedbacks|count}}</h2>
			</div>
			{% if feedbacks %}
				{% for feedback in feedbacks %}
					<div class="container container_padding" style="margin-bottom:10px;">
						<div style="float:right; margin-left:10px;">
							<p style="color:var(--secondary); padding-right:5px; display:inline-block; line-height:20px; vertical-align:top;">{{feedback.get_formatted_timestamp()}}</p>
							<button onclick="location.href = '/{{subject.private_id}}/feedback/{{feedback.feedback_id}}/delete'">
								<img class="label_icon_destructive" src="/static/symbols/trash.png">
							</button>
						</div>
						<p>{{feedback.feedback}}</p>
					</div>
				{% endfor %}
			{% else %}
				<div class="label_box container">
					<div>
						<img class="large_symbol" src="/static/symbols/bubble.right.png">
						<h2>No Feedback Yet</h2>
						Share your feedback page to start receieving feedback!
					</div>
				</div>
			{% endif %}
		</div>
	</body>
	<script>
		let feedback_link = '{{url_for("send_feedback", public_id=subject.public_id, _external=True)}}'

		let copy_button = document.getElementById('copy_button')
		let copy_button_image = document.getElementById('copy_button_image')
		let copy_button_label = document.getElementById('copy_button_label')

		let title = document.getElementById('title')
		let description = document.getElementById('description')
		let description_old = document.getElementById('description_old')

		let share_button = document.getElementById('share_button')
		let save_button = document.getElementById('save_button')
		let edit_button = document.getElementById('edit_button')
		let edit_button_image = document.getElementById('edit_button_image')
		let edit_button_label = document.getElementById('edit_button_label')

		description.addEventListener('input', update_description_height)
		description.addEventListener('focus', update_description_height)

		description.style.display = 'none'
		save_button.style.display = 'none'
		update_description_height()

		if (!navigator.share) {
			share_button.style.display = 'none'
		}

		function copy_feedback_link() {
			navigator.clipboard.writeText(feedback_link)
			copy_button.style.opacity = 0.75
			copy_button_image.src = '/static/symbols/checkmark.circle.fill.png'
			copy_button_label.innerHTML = 'Link Copied'
		}

		function share_feedback_link() {
			navigator.share({
				url: feedback_link
			})
		}

		function edit_description() {
			description_old.style.display = 'none'
			edit_button.style.display = 'none'
			description.style.display = 'block'
			save_button.style.display = 'block'
			update_description_height()
		}

		function confirm_delete_subject() {
			let result = confirm("Are you sure you want to delete this feedback page? All existing feedback will be deleted and people will no longer be able to submit feedback. This action cannot be undone.")
			if (result) {
				location.href = '/{{subject.private_id}}/delete'
			}
		}

		function update_description_height() {
			description.style.height = 'auto'
            description.style.height = description.scrollHeight + 'px'
		}
	</script>
</html>