body {
	font-family: system-ui;
	display: flex;
	justify-content: center;
	--accent: #007AFF;
	--red: #FF3B30;
	--secondary: #8A8A8E;
}

.center {
	align-items: center;
	margin-bottom: 50px;
}

a {
	color: var(--accent);
	text-decoration: none;
}

button {
	background: none;
	border: none;
}

ol, ul, p {
	margin: 0px;
}

h1, h2, h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type=text], textarea {
	appearance: none;
	width: 400px;
	font-size: 1em;
}

textarea {
	resize: none;
	height: 100px;
}

input[type=file] {
	display: none;
}

input[type=submit] {
	appearance: none;
	width: 400px;
	padding: 12px;
	margin-top: 20px;
	font-size: 1em;
	border-radius: 8px;
	border: none;
	color: white;
	background-color: var(--accent);
}

.container {
	margin-top: 10px;
	padding: 12px;
	padding-top: 10px;
	border-radius: 8px;
	border: none;
}

.icon, .symbol {
	width: 20px;
	height: 20px;
}
.symbol {
	filter: invert(1);
}
.large-symbol {
	width: 40px;
	height: 40px;
}

.label {
	color: white;
	background-color: var(--accent);
	font-size: 1em;
	padding: 5px;
	padding-top: 7px;
	padding-left: 8px;
	padding-right: 10px;
	border: none;
	border-radius: 8px;
	margin-right: 5px;
}

.label-title, .label-title-destructive {
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
	margin-left: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.label-title-destructive {
	color: var(--red);
}

input[type=submit]:active, button:active, a:active, .label:active {
	opacity: 0.75;
}

@media(prefers-color-scheme: light) {
	body {
		color: black;
		background-color: white;
	}

	.container, .container-background {
		color: black;
		background-color: #f0f0f0;
	}
}

@media(prefers-color-scheme: dark) {
	body {
		color: white;
		background-color: black;
	}

	.container, .container-background {
		color: white;
		background-color: #202020;
	}
	
	.large-symbol {
		filter: invert(1);
	}
}