html {
	font-family: system-ui;
	--accent: #007AFF;
	--red: #FF3B30;
	--secondary: #8A8A8E;
}

body {
	padding: 10px;
	padding-bottom: 50px;
}

ol, ul, p, h1, h2, form, textarea, a, button {
	margin: 0px;
}

textarea {
	padding: 0px;
}

a, button {
	display: inline-block;
	color: var(--accent);
	text-decoration: none;
	background: none;
	border: none;
	font-size: 1em;
	font-weight: 500;
}

input[type=submit], input[type=text], textarea {
	border: none;
	font-size: 1em;
}

input[type=text], textarea {
	background: none;
}

li {
	padding-bottom: 5px;
}

h1 {
	padding-top: 10px;
	padding-bottom: 10px;
}

h2 {
	padding: 10px;
}

.center_horizontally {
	display: flex;
	justify-content: center;
}

.center_vertically {
	align-items: center;
}

textarea {
	resize: none;
}

.container, .label, .container_background, .large_button {
	border-radius: 10px;
}

.large_button {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 12px;
	width: 400px;
	margin-top: 20px;
	color: white;
	background-color: var(--accent);
}

.container {
	padding: 10px;
	padding-bottom: 12px;
}

.icon, .symbol {
	width: 20px;
	height: 20px;
}

.symbol {
	filter: invert(1);
}

.large_symbol {
	width: 40px;
	height: 40px;
}

.label {
	color: white;
	font-size: 1em;
	background-color: var(--accent);
	padding-top: 7px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.label_title, .label_title_destructive {
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
	margin-left: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.label_title_destructive {
	color: var(--red);
}

button:active, a:active, .large_button:active {
	opacity: 0.75;
}

.feedback_form_logo, input[type=file] {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

input[type=file] {
	position: absolute;
	opacity: 0;
}

.feedback_form_field {
	width: 400px;
	height: 100px;
}

@media(prefers-color-scheme: light) {
	body, .container, .container_background, textarea, input[type=text] {
		color: black;
	}

	body {
		background-color: white;
	}

	.container, .container_background {
		background-color: #f0f0f0;
	}

	.shadow {
		box-shadow: 0px 5px 10px lightgray;
	}
}

@media(prefers-color-scheme: dark) {
	body, .container, .container_background, textarea, input[type=text] {
		color: white;
	}

	body {
		background-color: black;
	}

	.container, .container_background {
		background-color: #202020;
	}
	
	.large_symbol {
		filter: invert(1);
	}

	.shadow {
		box-shadow: 0px 5px 10px dimgray;
	}
}